{%extends 'list_detail.html' %}

{%block head%}
<script>

    // 乘法函数
     function mul() {
        num = parseInt($('.num_show').val());
        price = parseFloat($('#price').text());
        prices = num*price;

        $('#prices').text(prices.toFixed(2)+'元');
    }


$(function () {

{#----------------------------加减和手动改数量||第一种---------------------------------#}

{#    var kucun = parseInt($('#kucun').text());#}
{#    //alert(count);#}
{#    // 加#}
{#    $('.add').click(function () {#}
{#        num = parseInt($('.num_show').val());#}
{#        if (num < kucun){#}
{#             $('.num_show').val(kucun);#}
{#             $('.num_show').val(num+1);#}
{#        }#}
{#        mul();#}
{#    });#}
{#    // 减#}
{#     $('.minus').click(function () {#}
{#        num = parseInt($('.num_show').val());#}
{#        if (num > 1){#}
{#           $('.num_show').val(num-1);#}
{#        }#}
{#        mul();#}
{#    });#}
{#    // 手动改数量#}
{#     $('.num_show').blur(function () {#}
{#         num = parseInt($('.num_show').val());#}
{#         //去除小数点 或 数字+字母#}
{#         $('.num_show').val(num);#}
{#         // alert(num);#}
{#        if (num <= 1 || isNaN(num)){#}
{#            $('.num_show').val(1);#}
{#        }#}
{#        else  if (num >= kucun){#}
{#            $('.num_show').val(kucun);#}
{#        }#}
{#         mul();#}
{#     });#}

{#----------------------------加减和手动改数量||第二种---------------------------------#}

        //加
        $('.add').click(function () {
            num = parseInt($('.num_show').val());
            $('.num_show').val(num+1).blur();
        });
        //减
        $('.minus').click(function () {
            num = parseInt($('.num_show').val());
            $('.num_show').val(num-1).blur();
            });
        // 手动改数量
        $('.num_show').blur(function () {
            kucun = parseInt($('#kucun').text());
            num = parseInt($('.num_show').val());
            //去除小数点 或 数字+字母
            $('.num_show').val(num);
            if (num >= kucun){
                $('.num_show').val(kucun);
            }
            if (num <= 1 || isNaN(num)){
                $('.num_show').val(1);
            }
            mul();
        });

{#----------------------------加入购物车/动画---------------------------------#}

        //获取坐标
	    var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

        // 加入购物车
		$('.add_cart').click(function(){

			$.get('/cart/add{{ goods.id }}_'+$('.num_show').val()+'/',function (data) {
                if (data.islogin == 0){
                    //ajax传过来data字典,判断是否登录,没登录就本地跳转到登录页面
                     location.href='/user/login.html/';
                    return;
                }else{
                    $('#show_count').html(data.count);
                }
                //动画
                $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
            .animate({'left': $to_y+7, 'top': $to_x+7},"fast", function() {
                $(".add_jump").fadeOut('fast');
            });
            })

			});

{#----------------------------立即购买---------------------------------#}

     // 立即购买
     $('.buy_btn').click(function () {


     });

})


</script>
{%endblock head%}

        {%block detail_1%}

            <span>></span>
		<a href="#">商品详情</a>

        {%endblock detail_1%}


{%block detail_2%}

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{ goods.gpic }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods.gtitle }}</h3>
			<p>草莓浆果柔软多汁，味美爽口，适合速冻保鲜贮藏。草莓速冻后，可以保持原有的色、香、味，既便于贮藏，又便于外销。</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em id="price">{{ goods.gprice }}元</em></span>
				<span class="show_unit">单  位：{{ goods.gunit }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div>
			</div>
            <br />
            <div >库存剩余:<em id="kucun">{{ goods.gkucun }}份</em></div>

			<div class="total">总价：<em id="prices">{{ goods.gprice }}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn" >立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
	</div>

{%endblock detail_2%}

{%block goods_div%}

	<div class="main_wrap clearfix">
		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
                {{ goods.gcontent|safe }}
				<dl>
					<dt>商品详情：</dt>
					<dd>草莓采摘园位于北京大兴区 庞各庄镇四各庄村 ，每年1月-6月面向北京以及周围城市提供新鲜草莓采摘和精品礼盒装草莓，草莓品种多样丰富，个大香甜。所有草莓均严格按照有机标准培育，不使用任何化肥和农药。草莓在采摘期间免洗可以直接食用。欢迎喜欢草莓的市民前来采摘，也欢迎各大单位选购精品有机草莓礼盒，有机草莓礼盒是亲朋馈赠、福利送礼的最佳选择。 </dd>
				</dl>
			</div>

		</div>
    {% endblock goods_div%}

</div>
{%block goods_js%}

    <div class="add_jump"></div>


{%endblock goods_js%}