{%extends 'base.html'%}
{%block head%}
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/slide.js"></script>
{%endblock head%}

{%block content%}

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="#">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="#">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
            <li><a href="/list1_1_1/" class="fruit" target="_blank">新鲜水果</a></li>
            <li><a href="/list2_1_1/" class="seafood" target="_blank">海鲜水产</a></li>
            <li><a href="/list3_1_1/" class="meet" target="_blank">猪牛羊肉</a></li>
            <li><a href="/list4_1_1/" class="egg" target="_blank">禽类蛋品</a></li>
            <li><a href="/list5_1_1/" class="vegetables" target="_blank">新鲜蔬菜</a></li>
            <li><a href="/list6_1_1/" class="ice" target="_blank">速冻食品</a></li>

		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/img/slide.jpg" alt="幻灯片"></li>
				<li><img src="/static/img/slide02.jpg" alt="幻灯片"></li>
				<li><img src="/static/img/slide03.jpg" alt="幻灯片"></li>
				<li><img src="/static/img/slide04.jpg" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="/static/img/adv01.jpg"></a>
			<a href="#"><img src="/static/img/adv02.jpg"></a>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">新鲜水果</h3>
			<div class="subtitle fl">
				<span>|</span>
            {%for g in t1_click%}
				<a href="/detail{{g.id}}/">{{g.gtitle|truncatechars:15 }}</a>
				{%endfor%}
			</div>
			<a href="/list1_1_1/" class="goods_more fr" target="_blank">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/img/banner01.jpg"></div>
			<ul class="goods_list fl">
				{%for g in t1_new%}
				<li>
					<h4><a href="/detail{{g.id}}/">{{g.gtitle|truncatechars:15 }}</a></h4>
					<a href="/detail{{g.id}}/"><img src="/static/{{g.gpic}}"></a>
					<div class="prize">¥ {{g.gprice}}</div>
				</li>
				{%endfor%}

			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">海鲜水产</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for g in t2_click%}
				<a href="/detail{{g.id}}/">{{g.gtitle|truncatechars:15 }}</a>
				{%endfor%}
			</div>
			<a href="/list2_1_1/" class="goods_more fr" target="_blank">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/img/banner02.jpg"></div>
			<ul class="goods_list fl">
				{%for g in t2_new%}
				<li>
					<h4><a href="/detail{{g.id}}/">{{g.gtitle|truncatechars:15 }}</a></h4>
					<a href="/detail{{g.id}}/"><img src="/static/{{g.gpic}}"></a>
					<div class="prize">¥ {{g.gprice}}</div>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">猪牛羊肉</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for g in t3_click%}
				<a href="/detail{{g.id}}/">{{g.gtitle|truncatechars:15 }}</a>
				{%endfor%}
			</div>
			<a href="/list3_1_1/" class="goods_more fr" target="_blank">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/img/banner03.jpg"></div>
			<ul class="goods_list fl">
				{%for g in t3_new%}
				<li>
					<h4><a href="/detail{{g.id}}/">{{g.gtitle|truncatechars:15 }}</a></h4>
					<a href="/detail{{g.id}}/"><img src="/static/{{g.gpic}}"></a>
					<div class="prize">¥ {{g.gprice}}</div>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model04">禽类蛋品</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for g in t4_click%}
				<a href="/detail{{g.id}}/">{{g.gtitle|truncatechars:15 }}</a>
				{%endfor%}
			</div>
			<a href="/list4_1_1/" class="goods_more fr" target="_blank">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/img/banner04.jpg"></div>
			<ul class="goods_list fl">
				{%for g in t4_new%}
				<li>
					<h4><a href="/detail{{g.id}}/">{{g.gtitle|truncatechars:15 }}</a></h4>
					<a href="/detail{{g.id}}/"><img src="/static/{{g.gpic}}"></a>
					<div class="prize">¥ {{g.gprice}}</div>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model05">新鲜蔬菜</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for g in t5_click%}
				<a href="/detail{{g.id}}">{{g.gtitle|truncatechars:15 }}</a>
				{%endfor%}
			</div>
			<a href="/list5_1_1/" class="goods_more fr" target="_blank">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/img/banner05.jpg"></div>
			<ul class="goods_list fl">
				{%for g in t5_new%}
				<li>
					<h4><a href="/detail{{g.id}}/">{{g.gtitle|truncatechars:15 }}</a></h4>
					<a href="/detail{{g.id}}/"><img src="/static/{{g.gpic}}"></a>
					<div class="prize">¥ {{g.gprice}}</div>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model06">速冻食品</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for g in t6_click%}
				<a href="/detail{{g.id}}/">{{g.gtitle|truncatechars:15 }}</a>
				{%endfor%}
			</div>
			<a href="/list6_1_1/" class="goods_more fr" target="_blank">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/img/banner06.jpg"></div>
			<ul class="goods_list fl">
				{%for g in t6_new%}
				<li>
					<h4><a href="/detail{{g.id}}/">{{g.gtitle|truncatechars:15 }}</a></h4>
					<a href="/detail{{g.id}}/"><img src="/static/{{g.gpic}}"></a>
					<div class="prize">¥ {{g.gprice}}</div>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>

{%endblock content%}